body{
	background: linear-gradient(to bottom, rgba(15, 15, 15, 0.88), rgba(40, 40, 40, 0.92));
	min-height: 100vh
}

.search-button{
	width: 30%;
	height: 50px;
	margin-top: 15px;
	background-color: #FFF;
	font-size: 23px;
}

.play{
	&:hover{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			opacity: 0.2;
		}

		&::after{
			content: ' ';
			position:absolute; 
			width: 100px;
			height: 100px;
			border: solid 5px #FFF;
			border-radius: 100px;
		}	

		&::before{
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			transform: rotate(45deg) skew(7deg, 8deg);
			border-top: 5px solid #fff;
			border-right: 5px solid #FFF;
		}
	}
}

.title{
	font-weight: bold;
	color: #FFFFFF;

	&.head{
		font-size: 62px
	}

	&.legend{
		padding: 40px 0 40px 0;
	}

	&.error{
		font-size: 62px;
		color: #cacaca !important
	}
}

i {
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    display: inline-block;
	padding: 10px;
	margin-left: 15px;
	cursor: pointer;
	
	&.back {
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
	}
}

.table-responsive{
	border: none
}

table{
	color: #FFFFFF;

	tbody{
		tr{
			&:hover{
				color: gray
			}
		}
	}
}

.margin-top-30{
	margin-top: 30px
}

.margin-bottom{
	&.ten{
		margin-bottom: 10px !important
	}

	&.thirty{
		margin-bottom: 30px !important
	}
}


.top-form{
	width: 100%;
}

.search{
    height: 50px;
    font-size: 23px;
}

.vertical-center {
	min-height: 30vh;
	display: flex;
	align-items: center;
	background: linear-gradient(to right, rgba(0, 208, 255, 0.32), rgba(255, 0, 0, 0.39))
}

.horizontal-center{
	margin: 0 auto;
}

.block{width: 100%; padding:80px 0; background: #c33; border-bottom:2px solid #333}
.block-in{width: 300px; margin:80px auto; overflow:hidden;}

.tape{
	margin:120px auto;
	width: 100px; 
	height: 30px; 
	border:1px solid #cacaca;  
	border: none;  
	overflow:hidden; 
	position:relative; 
	background: #232323;
	border-radius:5px;
	box-shadow:0px 35px 0 -5px #cacaca, 0 -5px 0 0px #232323, 0 -25px 0 -5px #ccc,   -25px -30px 0 0px #232323, -25px 30px 0 0px #232323, 25px -30px 0 0px #232323, 25px 30px 0 0px #232323, 20px  10px 0 5px #232323,  20px  -10px 0 5px #232323, -20px -10px 0 5px #232323,-20px 10px 0 5px #232323;
	animation:tape2 1.5s linear infinite alternate;}

.tape:after, .tape:before{
	content:""; 
	border-radius:100%; 
	width: 38px; 
	height: 38px;  
	display:block;
	position:absolute; 
	border: 5px dashed #fff; 
	margin:-9px auto; 
	top:0; 
	bottom: 0; 
	transform:rotate(0deg) scale(.4);
	animation:tape 4s linear infinite;
}

.tape:after{left: -10px;  box-shadow:0 0 0 4px #fff, 0 0 0 65px #000;}
.tape:before{right: -10px; box-shadow:0 0 0 4px #fff, 0 0 0 35px #000;}

@keyframes tape{
  0%{transform:rotate(0deg) scale(.4);}
  100%{transform:rotate(-360deg) scale(.4);}
}

@keyframes tape2{
   0%{ transform: perspective(500px) rotateX(0deg) rotateY(-20deg) rotateZ(0deg) ;}
  100%{ transform: perspective(500px) rotateX(0deg) rotateY(20deg) rotateZ(0deg);}
}

#sad {
	position: relative;
	z-index: 0;
	border: 6px solid #cacaca;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	margin: 50px auto;

	.eye {
		position: relative;
		width: 30px;
		height: 30px;
		border-radius: 100px;
		background: #cacaca;
		margin-top: 25px;
		margin-left: 33px;

		.right { 
			margin-left: 0; 
			margin-right: 33px; 
		}
	}
		
	.mouth {
		position: absolute;
		z-index: 1;
		right: -40px;
		top: 12px;
		height: 110px;
		width: 115px;
		margin: 0 auto;
		border-left: 8px solid #cacaca;
		border-radius: 100%;
	}
}